<%- include ("partials/header");-%>

<h1>New Problem</h1>

<form class="" action="/assignments" method="post">
    <div class="form-group">
        <label>Topic:</label>
        <input class="form-control form-control-lg" type="text" placeholder="Topic Of Problem"  name="top">
        <label>Detail:</label>
        <input class="form-control form-control-lg" type="text" placeholder="Details Of Problem"  name="data">
      <label>Post:</label>
      <input class="form-control form-control-lg" type="text" placeholder="Paste Link"  name="link">
    </div>
    <button class="btn btn-primary" type="submit" name="button">Submit</button>
  </form>
<hr>

<h1>recents</h1>


<%  hosts.forEach(function(host){ %>

    <h2><%=host.top%></h2>
     <p><%=host.data%></p>
     <p>gdrive link:  <a href="<%=host.link%>">see</a> 
  <hr>
  
     <% }) %>
  
  
  





<%- include ("partials/footer");-%>