<%- include ("partials/header");-%>

<h1>learning resources</h1>

<form class="" action="/res" method="post">
    <div class="form-group">
        <label>Topic:</label>
        <input class="form-control form-control-lg" type="text" placeholder="Topic Of Resources"  name="a">
        <label>Description:</label>
        <input class="form-control form-control-lg" type="text" placeholder="Detail Of Resources"  name="b">
        <label>Link:</label>
        <input class="form-control form-control-lg" type="text" placeholder="Provide Link"  name="c">
    </div>
    <button class="btn btn-primary" type="submit" name="button">Add</button>
  </form>
<hr>

<h1>resources</h1>


<%  losts.forEach(function(lost){ %>

    <h2><%=lost.t%></h2>
     <p><%=lost.d%></p>
     <p>gdrive link:  <a href="<%=lost.l%>">see</a> 
  <hr>
  
     <% }) %>
  


     
<%- include ("partials/footer");-%>